.setting-section {
	margin-bottom: 20px;
	border-bottom: 1px solid #ebeef5;
}

.section-title {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebeef5;
}